/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

header {
  border: 1px solid rgb(255, 115, 0);
  width: 100%;
  display: flex;
}

.tituloIzquierda {
  flex: 1;
  margin-left: 30px;
}

.anchorsHeader {
  margin-right: 30px;
}

.sobreHeader {
  margin: 0px 10px 0px 10px;
}

.proyectosaHeader {
  margin: 0px 10px 0px 10px;
}

.contactoHeader {
  margin: 0px 0px 0px 10px;
}

.sobreContainer {
  border: solid 1px green;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h3 {
  margin-top: 5px;
}

.proyectosContainer {
  border: solid 1px rgb(162, 0, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.imagenesProyectos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.calculadoraWeb {
  width: 200px;
}

.listaDeCompras {
  width: 200px;
}

.buscadorDeGifs {
  width: 200px;
}

.contadorApp {
  width: 200px;
}
